---
import { $counter } from "../store/counterStore";
import Layout from "../layouts/Layout.astro";
---

<Layout title="The Counter">
	<main>
		<p class="counter" id="cnt">{$counter.get()}</p>
		<div>
			<button id="plus">
				<span role="img" aria-label="plus">&#x2795;</span>
			</button>
			<button id="minus">
				<span role="img" aria-label="plus">&#x2796;</span>
			</button>
		</div>
		<div>
			<button id="reset">reset</button>
		</div>
	</main>
</Layout>

<script>
	import { $counter } from "../store/counterStore";
	import { $lastEvent } from "../store/lastEvent";

	$counter.set(parseInt(sessionStorage.getItem("counter") ?? "0"));

	const plusButton = document.getElementById("plus");
	const minusButton = document.getElementById("minus");
	const resetButton = document.getElementById("reset");

	const add = () => {
		$counter.set($counter.get() + 1);
		$lastEvent.set("+");
	};

	const substract = () => {
		if ($counter.get() - 1 >= 0) {
			$counter.set($counter.get() - 1);
			$lastEvent.set("-");
		}
	};

	plusButton?.addEventListener("click", () => {
		add();
	});

	minusButton?.addEventListener("click", () => {
		substract();
	});

	resetButton?.addEventListener("click", () => {
		$counter.set(0);
	});

	$counter.subscribe((value) => {
		document.getElementsByClassName("counter")[0].innerHTML = value.toString();
		sessionStorage.setItem("counter", value.toString());
	});

	document.addEventListener("keydown", (event) => {
		console.log(event.key);
		if (event.key == "-") {
			substract();
		} else if (event.key == "+") {
			add();
		} else if (event.key == " " || event.key == "Enter") {
			console.log("le: ", $lastEvent.get());
			switch ($lastEvent.get()) {
				case "+":
					console.log("plus");
					add();
					break;
				case "-":
					console.log("minus");
					substract();
					break;
			}
		}
	});
</script>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	button {
		border: black solid 4px;
		padding: 15px;
	}
	button:hover {
		filter: brightness(145%);
	}
	.counter {
		font-size: 80px;
	}
	#reset {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 22px;
		margin-top: 5px;
	}
	#minus {
		background-color: #ab3535;
	}
	#plus {
		background-color: greenyellow;
	}
</style>
